body{
    /* background-color: bisque; */
    margin: 0px;
}
.container{
    width: 20%;
    height: 100%;
    /* border-right: 2px solid black; */
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.content{
    width: 90%;
    height: 90%;
    margin: auto;
}

.logo{
    height: 10%;
    width:90%;
    margin: auto;
    display:flex;
    justify-content: center;
}

img{
    max-width: 85%;
    border-radius: 50%;
}

.top{
    height: 10%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
}

.mid{
    display: flex;
    height: 55%;
    width: 90%;
    margin: auto;
    /* justify-content: center; */
}

.mid ul{
    list-style: none;
    padding-left: 20;
    line-height: 300%;
}

ul svg{
    height: 16px;
    width: 16px;
    color: aquamarine;
}

.bottom{
    height: 25%;
    margin: auto;
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
}

.bottom h3{
    text-align: center;
}

.bottom input{
    margin: auto;
    width: 90%;
    height: 20%;
    background-color: black;
    border: none;
    color: white;
    border-radius: 3px;
}